h3 {
	display: block;
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

#banner {
	right: 0px;
	margin: 0 auto;
	padding-right: 0px;
}

#logo {
	position: absolute;
	margin: 0 auto;
	height: 36px;
	width: 36px;
	right: 7px;
	top: 7px;
	display: block;
	background: url(../images/hc_grey_transp.png);
}

.wrapper {
	width: 840px;
}

section {
	width: 840px;
	margin-top: 140px;
}

div #menu {
	width: 840px;
	margin: 0 auto;
}

a.button.menu {
	margin-left: 0px !important;
	width: 100px;
	margin-right: 5px;
}

.input-elem-row {
	width: 100%;
	padding: 13px 0 20px 0;
	overflow: hidden;
}

.labels-col {
	width: 20%;
	float: left;
	height: 100%;
}

.input-elems-col {
	width: 78%;
	float: right;
	height: 100%;
}

.select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0px;
	border: 1px solid #e8e8e8;
	background-clip: none;
	line-height: 21px;
}

